/* about */

#about .list1{
    display: flex;
}
#about .list{
    display: flex;
    margin: 0 0 -10rem 0;
}
.list1 p {
    font-size: 2.6rem;
    padding:18rem 5rem;
    text-align: justify;
}
.list .com-info{
    font-size: 2.6rem;
    text-align: justify;
    padding: 1rem 5rem  16rem 5rem;
}
.com-info h1{
    padding: 2rem 0;
    text-align: center;
}

@media (max-width:480px) {

    #about .list1{
        display: flex;
        flex-direction: column;
    }

    #about .list{
        display: flex;
        margin: 0 0 0rem 0;
    }
    .list1 p {
        font-size: 1.6rem;
        padding: 2rem 2rem;
        text-align: justify;
    }
    .list .com-info{
        font-size: 1.6rem;
        text-align: justify;
        padding: 1rem 2rem  2rem 2rem;
    }
    .com-info h1{
        padding: 2rem 0;
        text-align: center;
    }
}