/* contact  */
#contact {
    padding: 0  5rem;
}

.contact-container {
    padding: 0rem 39rem;
    margin-top: 5rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    height: 25%;
    margin: 2rem 0;
    padding: 1rem 3rem;
    border-radius: 30px;
    font-size: 2rem;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border: 2px solid var(--back-color);
}

.contact-form button {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: var(--back-color);
    cursor: pointer;
    color: var(--black1-color);
    margin-top: 2rem;
    position: relative;
    left: 40%;
    transform: -50% ,-50%;
}

.contact-form button:hover {
    background-color: var(--back1-color);
}

/* map  */

#map iframe{
    width: 100%;
    padding-top: 6rem;
    /* margin-bottom: rem; */
}

@media (max-width:480px) {

    #contact {
        padding: 0  1rem;
    }
    
    .contact-container {
        padding: 0rem 1rem;
        margin-top: 5rem;
    }
    
    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        width: 100%;
        height: 25%;
        margin: 1.5rem 0;
        padding: 0.4rem 2rem;
        font-size: 1.8rem;
    }
    
    .contact-form button {
        padding: 0.6rem 2.2rem;
        left: 30%;
        transform: -50% ,-50%;
    }

    #map iframe{
        margin-bottom: -4.2rem;
    }
}
