/* welcome */

#welcome {
    margin-top: 2rem;
}

#welcome h1 {
    font-size: 5rem;
    margin-top: 4rem;
    font-weight: 500;
    padding: 6rem;
    text-align: center;
}

#welcome h1::after {
    content: "";
    height: 2px;
    width: 60rem; 
    background-color: var(--back1-color);
    display: block;
    margin: auto;
}

#welcome .wel-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 380px;
    gap: 8rem;
    grid-auto-flow: dense;
    padding: 3rem 8rem;
}

#welcome .wel-div .info {
    font-size: 2.5rem;
    text-align: justify;
    font: 900;
}

#welcome .wel-div .info span {
    font-family: var(--font-family);
    font-size: 8rem;
}

#welcome .wel-div .img {
    background-image: url(../gallery/png2.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 2% 2%;
}

/* product-slider */

#product {
    margin-top: 9rem;
    justify-content: center;
    position: relative;
    width: 100%;
}

#product h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

#product h1::after {
    content: "";
    height: 0.3rem;
    width: 18rem;
    background-color: var(--back1-color);
    display: block;
    margin: auto;
}

#product p {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 5rem;
    font: 300;
}

.slider-img {
    margin: 2rem 10rem;
    margin-bottom: 10rem;
}

.slider-img #left,
#right {
    height: 50px;
    width: 50px;
    background-color: var(--back-color);
    text-align: center;
    font-size: 3rem;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--font-color);
}

.slider-img i:first-child { 
    left: 6px;
}

.slider-img i:last-child {
    right: 6px;
}

.img-list .png-item {
    padding: 2rem;
    cursor: pointer;
}

#product .img-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 5rem;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 0 2rem;
}

#product .img-list img {
    width: 250px;
    height: 280px;
    text-decoration: none;
    position: relative;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2rem 0 #aaaaaa;
}

#product .img-list #p2 {
    position: relative;
    top: -68%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 2rem;
    font: x-large;
}

#product .img-list .png-item h3,
#price {
    font-size: 2rem;
    text-align: center;
}

#product .btn {
    background-color: var(--back1-color);
    font-size: 2.8rem;
    color: var(--font-color);
    padding: 0.8rem 3rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10rem 10rem;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#product .btn a {
    color: var(--text-color);
}

#product .btn:hover {
    background-color: var(--back-color);
}


/* img  */

#img {
    margin-top: 7rem;
}

#img .png1 {
    width: 100%;
    height: 90vh;
    background-image: url(../gallery/png1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img .png1 .info1 {
    font-size: 4rem;
    font: 500;
    color: var(--font-color);
    position: relative;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 3rem;
}

#img .png1 .info1 a .btn {
    color: var(--font-color);
}

#img .png1 .info1 .btn {
    background-color: var(--back-color);
    width: 120px;
    text-align: center;
    padding: 0.6rem;
    border-radius: 1rem 1rem;
    margin-top: 3rem;
}

#img .png1 .info1 a .btn:hover {
    background-color: var(--back1-color);
}

/* our product */

#png {
    margin-top: 9rem;
}

#png h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

#png h1::after {
    content: "";
    height: 0.3rem;
    width: 22rem;
    background-color: var(--back1-color);
    display: block;
    margin: auto;
}

#png .our-colletion{
    display: flex;
    margin: 8rem;
}

.our-colletion .Shampoo-png {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gallery/shampoo.jpg);
    background-position: top;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 55vh;
}

.our-colletion .mask-png{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gallery/mask.jpeg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    margin-top: 2rem;
}

.our-colletion h3 {
    color: var(--font-color);
    font-size: 5rem;
    font: 800;
}

.our-colletion .treatement-png {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gallery/shampoosetion.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    width: 100%;
}



/* hair treatment */

#treatment {
    margin-top: 5rem;
    background-image: url(../gallery/back.jpeg);
    background-position: center;
}

#treatment h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
}

#treatment h1::after {
    content: "";
    height: 0.3rem;
    width: 28rem;
    background-color: var(--back1-color);
    display: block;
    margin: auto;
}

#treatment .hair-slide {
    padding: 8rem;
    /* overflow: hidden; */
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 500px;
    grid-auto-flow: dense;
}

#treatment .hair-slide .hair-img {
    background-image: url(../gallery/treatment.jpeg);
    background-position: center;
    background-size: cover;
}

#treatment .hair-slide .hair-info {
    font: 400;
    font-size: 2.4rem;
    text-align: justify;
    padding: 1rem;
}


/* meadia query  */

@media (max-width: 2560px) {
    #welcome .wel-div .info span {
        font-size: 7.3rem;
    }

    #welcome .wel-div .info {
        font-size: 2.3rem;
    }

    #product .img-list #p2 {
        position: relative;
        top: -62%;
        left: 29%;
        transform: translate(-50%, -50%);
        color: var(--text-color);
        font-size: 2rem;
        font: x-large;
    }

    #treatment .hair-slide {
        padding: 8rem;
        /* overflow: hidden; */
        display: grid;
        grid-gap: 6rem;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: 620px;
        grid-auto-flow: dense;
    }

    #treatment .hair-slide .hair-info {
        font-size: 2.1rem;
    }
}

@media (max-width:1440px) {
    #welcome .wel-div .info span {
        font-size: 8.2rem;
    }

    #welcome .wel-div .info {
        font-size: 2.5rem;
    }

    #product .img-list #p2 {
        position: relative;
        top: -68%;
        left: 22%;
        transform: translate(-50%, -50%);
        color: var(--text-color);
        font-size: 2rem;
        font: x-large;
    }

    #treatment .hair-slide {
        padding: 8rem;
        /* overflow: hidden; */
        display: grid;
        grid-gap: 6rem;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: 500px;
        grid-auto-flow: dense;
    }

    #treatment .hair-slide .hair-info {
        font: 400;
        font-size: 2.4rem;
        text-align: justify;
        padding: 1rem;
    }
}

@media (max-width: 992px) {
    #nav ul {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }

    .logo img {
        width: 18vw;
    }
}

@media (max-width:480px) {
    #welcome h1 {
        font-size: 3.3rem;
        padding: 2rem 0;
    }

    #welcome h1::after {
        width: 36rem;
    }

    #welcome .wel-div {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 210px;
        padding: 0.3rem 1.8rem;
    }

    #welcome .wel-div .info span {
        font-size: 4.8rem;
        font-family: var(--font-family);
        padding: 0;
    }

    #welcome .wel-div .info {
        font-size: 1.6rem;
    }

    #welcome .wel-div .img {
        height: 100%;
        background-size: cover;
        background-position: cover;
    }

    #product {
        margin-top: 3rem;
    }

    #product h1 {
        font-size: 3.3rem;
        padding-top: 0rem;
    }

    #product h1::after {
        width: 14rem;
    }

    #product p {
        font-size: 1.5rem;
    }

    #product .img-list {
        grid-auto-columns: calc((100% / 1) - 1px);
        gap: 1rem;
        overflow: hidden;
        scroll-behavior: smooth;
        margin: 0 -2rem;
        padding: 0 1rem;
    }

    #product .img-list #p2 {
        left: 15%;
        top: -68%;
        font-size: 1.6rem;
    }

    .slider-img #left,
    #right {
        font-size: 2rem;
        height: 40px;
        width: 40px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #product .img-list img {
        width: 200px;
        height: 280px;
        object-fit: cover;
        text-decoration: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 2rem 0 #fff;
    }

    #product .img-list .png-item h3,
    #price {
        font-size: 1.4rem;
        text-align: center;
    }

    #product .btn {
        font-size: 1.6rem;
        padding: 0.8rem 3rem;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10rem 10rem;
        letter-spacing: 0.1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    #img {
        margin-top: 3rem;
    }

    #img .png1 .info1 {
        font-size: 2.6rem;
        top: 80%;
        left: 50%;
    }

    #img .png1 .info1 .btn {
        font-size: 2.6rem;
        padding: 0.6rem 2rem;
    }

    #png {
        margin-top: 4rem;
    }

    #png h1 {
        font-size: 3.3rem;
    }

    #png h1::after {
        width: 16rem;
    }

    #png .our-colletion{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .product-collection {
        display: flex;
        margin-top: 5rem;
    }

    .our-colletion .Shampoo-png {
        width: 100%;
        height: 35vh;
    }
    
    .our-colletion .mask-png{
        width: 100%;
        height: 35vh;
        margin-top: 0rem;
        margin-left: 1rem;
    }
    
    .our-colletion h3 {
        font-size: 2rem;
    }
    
    .our-colletion .treatement-png {
        margin-left: 0rem;
        margin-top: 1rem;
        width: 100%;
        height: 40vh;
    }

    #treatment h1 {
        font-size: 2.8rem;
        padding: 1rem;
    }

    #treatment h1::after {
        width: 20rem;
    }

    #treatment .hair-slide .hair-info {
        font-size: 1.4rem;
    }

    #treatment .hair-slide {
        padding: 5rem 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 370px;
        grid-auto-flow: dense;
    }
}

@media (max-width:430px) {
    #welcome h1 {
        font-size: 2.8rem;
        padding: 2rem 0;
    }

    #welcome h1::after {
        width: 32rem;
    }

    #welcome .wel-div {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 210px;
        padding: 2rem 1.8rem;
    }

    #welcome .wel-div .info span {
        font-size: 3.6rem;
        font-family: var(--font-family);
        padding: 0;
    }

    #welcome .wel-div .info {
        font-size: 1.5rem;
    }

    #welcome .wel-div .img {
        height: 100%;
        background-size: cover;
        background-position: cover;
    }

    #product h1 {
        font-size: 2.8rem;
        padding-top: 1rem;
    }

    #product h1::after {
        width: 11rem;
    }

    #product p {
        font-size: 1.4rem;
    }

    #product .img-list {
        grid-auto-columns: calc((100% / 1) - 1px);
        gap: 1rem;
        overflow: hidden;
        scroll-behavior: smooth;
        margin: 0 -2rem;
        padding: 0 1rem;
    }

    #product .img-list #p2 {
        left: 15%;
        top: -68%;
        font-size: 1.6rem;
    }

    .slider-img #left,
    #right {
        font-size: 2rem;
        height: 40px;
        width: 40px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #product .img-list img {
        width: 200px;
        height: 280px;
        object-fit: cover;
        text-decoration: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 2rem 0 #fff;
    }

    #product .img-list .png-item h3,
    #price {
        font-size: 1.4rem;
        text-align: center;
    }

    #product .btn {
        font-size: 1.6rem;
        padding: 0.8rem 3rem;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10rem 10rem;
        letter-spacing: 0.1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    #img {
        margin-top: 3rem;
    }

    #img .png1 .info1 {
        font-size: 2.6rem;
    }

    #img .png1 .info1 .btn {
        font-size: 2.6rem;
        padding: 0.6rem 2rem;
    }

    #png {
        margin-top: 4rem;
    }

    #png h1 {
        font-size: 2.8rem;
    }

    #png h1::after {
        width: 14rem;
    }

    #treatment h1 {
        font-size: 2.8rem;
        padding: 3rem;
    }

    #treatment h1::after {
        width: 20rem;
    }

    #treatment .hair-slide .hair-info {
        font-size: 1.2rem;
    }

    #treatment .hair-slide {
        padding: 5rem 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 370px;
        grid-auto-flow: dense;
    }
}

@media (max-width:376px) {
    #welcome h1 {
        font-size: 2.8rem;
        padding: 2rem 0;
    }

    #welcome h1::after {
        width: 32rem;
    }

    #welcome .wel-div {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 210px;
        padding: 2rem 1.8rem;
    }

    #welcome .wel-div .info span {
        font-size: 3.6rem;
        font-family: var(--font-family);
        padding: 0;
    }

    #welcome .wel-div .info {
        font-size: 1.5rem;
    }

    #welcome .wel-div .img {
        height: 100%;
        background-size: cover;
        background-position: cover;
    }

    #product h1 {
        font-size: 2.8rem;
        padding-top: 0rem;
    }

    #product h1::after {
        width: 11rem;
    }

    #product p {
        font-size: 1.4rem;
    }

    .slider-img {
        margin: 0rem 7.2rem;
        margin-bottom: 5rem;
    }

    #product .img-list {
        grid-auto-columns: calc((100% / 1) - 2.4rem);
        gap: 1rem;
        overflow: hidden;
        scroll-behavior: smooth;
        margin: 0 0rem;
        padding: 0 0rem;
    }

    #product .img-list #p2 {
        left: 19%;
        top: -68%;
        font-size: 1.6rem;
    }

    .slider-img #left,
    #right {
        font-size: 2rem;
        height: 40px;
        width: 40px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #product .img-list img {
        width: 192px;
        height: 240px;
        object-fit: cover;
        text-decoration: none;
        left: 55%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 2rem 0 #fff;
    }

    #product .img-list .png-item h3,
    #price {
        font-size: 1.4rem;
        text-align: center;
    }

    #product .btn {
        font-size: 1.6rem;
        margin-top: 0rem;
    }

    #img {
        margin-top: 3rem;
    }

    #img .png1 .info1 {
        font-size: 2.6rem;
    }

    #img .png1 .info1 .btn {
        font-size: 2.6rem;
        padding: 0.6rem 2rem;
    }

    #png {
        margin-top: 9rem;
    }

    #png h1 {
        font-size: 2.8rem;
    }

    #png h1::after {
        width: 14rem;
    }

    #png .our-colletion{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .product-collection {
        display: flex;
        margin-top: 5rem;
    }

    .our-colletion .Shampoo-png {
        width: 100%;
        height: 35vh;
    }
    
    .our-colletion .mask-png{
        width: 100%;
        height: 35vh;
        margin-top: 0rem;
        margin-left: 1rem;
    }
    
    .our-colletion h3 {
        font-size: 2rem;
    }
    
    .our-colletion .treatement-png {
        margin-left: 0rem;
        margin-top: 1rem;
        width: 100%;
        height: 40vh;
    }

    #treatment h1 {
        font-size: 2.8rem;
        padding-top: 3rem;
    }

    #treatment h1::after {
        width: 20rem;
    }

    #treatment .hair-slide .hair-info {
        font-size: 1.2rem;
    }

    #treatment .hair-slide {
        padding: 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-rows: 370px;
        grid-auto-flow: dense;
    }
}